<div class="game">
    <div class="container-level">
        <div class="card-aling">
            <div>Score</div>
            <div>{{ score }}</div>
        </div>
        <i class="fa fa-headphones" aria-hidden="true"></i>
        <div class="card-aling">
            <div class="level">Level</div>
            <div>{{ level }}</div>
        </div>
    </div>
    <div class="container">
        <div class="container-buttons">
            <button *ngFor="let note of notes; let i = index;" (click)="validateNote(note)">{{ note.desc }}</button>
        </div>
        <div *ngIf="correct && isPlay">
            <i class="fa fa-5x fa-check-circle-o" style="color: green;" aria-hidden="true"></i>
        </div>
        <div *ngIf="!correct && isPlay">
            <i class="fa fa-5x fa-times-circle-o" style="color: red;" aria-hidden="true"></i>
        </div>
        <br />
    </div>
    <br />
</div>