<div class="game">
    <div class="level">Level: {{ level }}</div>
    <button class="play" (click)="play()">Play</button>
    <div class="score">Pontos: {{ score }}</div>
    <div class="container-buttons">
        <button (click)="validateNote(0)" >{{ note1 }}</button>
        <button (click)="validateNote(1)">{{ note2 }}</button>
    </div>
    <div *ngIf="!isPlay" style="height: 30%;"></div>
    <div *ngIf="isPlay" class="result">Resultado</div>
    <div *ngIf="correct && isPlay">
        <i class="fa fa-5x fa-check-circle-o" style="color: green" aria-hidden="true"></i>
    </div>
    <div *ngIf="!correct && isPlay">
        <i class="fa fa-5x fa-times-circle-o" style="color: red" aria-hidden="true"></i>
    </div>
    <br />
</div>